
{% extends "layout.html" %}

{% block pageTitle %}
  Framework - Management Consultancy Framework
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Home",
    href: "/"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Framework</span>
      Management Consultancy Framework
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Services
    </h2>

    <ul class="govuk-list">

      <li>
        <a href="/service/consultancy-and-managing-change/audit-consultancy/">
          Audit consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/business-consultancy/">
          Business consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/complex-and-transformational-consultancy/">
          Complex and transformational consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/contact-centre-consultancy/">
          Contact centre consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/education-consultancy/">
          Education consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/financial-consultancy/">
          Financial consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/human-resources-(hr)-consultancy/">
          Human resources (HR) consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/health-and-community-consultancy/">
          Health and community consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/infrastructure-consultancy/">
          Infrastructure consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/ict-and-digital-consultancy/">
          ICT and digital consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/procurement,-supply-chain-and-commercial-consultancy/">
          Procurement, supply chain and commercial consultancy
        </a>
      </li>

      <li>
        <a href="/service/consultancy-and-managing-change/strategic-consultancy/">
          Strategic consultancy
        </a>
      </li>

    </ul>

    <p class="govuk-!-margin-top-9">
      <a href="#">Can't find what you're looking for?</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      rows: [
        {
          key: {
            text: "Framework ID",
            classes: "govuk-!-width-two-thirds"
          },
          value: {
            html: "RM3745"
          }
        },
        {
          key: {
            text: "Start date"
          },
          value: {
            html: "4 September 2017"
          }
        },
        {
          key: {
            text: "End date"
          },
          value: {
            html: "3 September 2021"
          }
        }
      ]
    }) }}
  </div>

</div>

{% endblock %}
