// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-header{
  border-bottom: 0;
}
.govuk-header__container{
  border-bottom: 0;
  margin-bottom: 0;
}

.site-navigation{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: govuk-colour('black');
  margin-bottom: govuk-spacing(3);

  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);

  .header-search-input{

  }

  a{
    @include govuk-font(19);
    float: right;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 0;
    text-decoration: none;
  }
}

.item{
  display: block;
  border-top: 1px solid govuk-colour('mid-grey');
  border-bottom: 1px solid govuk-colour('mid-grey');
  padding: 16px;
  .image img{
    max-width: 100%;
  }
  &:link{
    color: govuk-colour('black');
    text-decoration: none;
  }
  .price{
    @include govuk-font(19);
    margin-bottom: govuk-spacing(2);
  }
  .name{
    @include govuk-font(16);
  }
}
