
{% extends "layout.html" %}

{% block pageTitle %}
  Suppliers - Audit Consultancy - GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Audit Consultancy",
    href: "/service/audit-consultancy"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">Audit Consultancy</span>
      Suppliers
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <li>
        <a href="/service/audit-consultancy/abc-consulting" class="govuk-!-font-weight-bold">
          ABC Consulting Ltd
        </a>
        <p>
          Summary here
        </p>
      </li>
      <li>
        <a href="#" class="govuk-!-font-weight-bold">
          Bravo Green
        </a>
        <p>
          Summary here
        </p>
      </li>
      <li>
        <a href="#" class="govuk-!-font-weight-bold">
          Central Ltd
        </a>
        <p>
          Summary here
        </p>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
