
{% extends "layout.html" %}

{% block pageTitle %}
  Laptops - GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Hardware",
    href: "/browse/hardware"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Laptops
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      Apple, Windows and Linux laptop/notebook computers, from ultra-portable to
      high performance computers suitable for media editing.
    </p>

    <h2 class="govuk-heading-m">
      Ways to buy
    </h2>

    <p>
      <a href="#" class="govuk-!-font-weight-bold">Online store</a>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Quick
      </li>
      <li>
        Good for smaller quantities
      </li>
    </ul>

    <p>
      <a href="filter-suppliers" class="govuk-!-font-weight-bold">Find a supplier</a>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Good for larger quantities
      </li>
      <li>
        Can be better value
      </li>
    </ul>

    <p class="govuk-!-margin-top-9">
      <a href="#">Can't find what you're looking for?</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Related products and services
    </h2>
    <ul class="govuk-list">
      <li>
        <a href="#">
          Desktops
        </a>
      </li>
      <li>
        <a href="#">
          Tablets
        </a>
      </li>
      <li>
        <a href="#">
          Computer support
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
