
{% extends "layout.html" %}

{% block pageTitle %}
  Full service facilities management - GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Facilities management",
    href: "/browse/facilities-management"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Facilities management: full service
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>Find a supplier to meet more than one (or all of) your facilities management needs, including maintenance, gardening, catering, cleaning, reception, security, helpdesk and waste management services.</p>
    <p>A full service contact will usually include any contact management, contract mobilisation or advice on statutory obligations you need.</p>

    <div class="govuk-form-group">
      <a href="filter-suppliers" class="govuk-!-margin-top-2 govuk-!-margin-bottom-1 govuk-button govuk-button--start">
        Find a supplier
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
    </div>

    <p>
      <a href="/service/audit-consultancy/suppliers">
        View all full service suppliers
      </a>
    </p>

    <p>
      <a href="#">Can't find what you're looking for?</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Related products and services
    </h2>
    <ul class="govuk-list">
      <li>
        <a href="#">
          Facilities management: catering services
        </a>
      </li>  
        <li>
        <a href="#">
          Facilities management: cleaning services
        </a>
      </li> 
      <li>
        <a href="#">
          Facilities management: gardening services
        </a>
      </li>
      <li>
        <a href="#">
          Facilities management: helpdesk services
        </a>
      </li>
      <li>
        <a href="#">
          Facilities management: maintenance services
        </a>
      </li>
      <li>
        <a href="#">
          Facilities management: reception services
        </a>
      </li>
       <li>
        <a href="/service/facilities-management/facilities-management-security-services">
          Facilities management: security services
        </a>
      </li>
       </li>
       <li>
        <a href="#">
          Facilities management: waste management
        </a>
      </li>
      <li>
        <a href="#">
          Estates and property management
        </a>    
      </li>
    </ul>
  </div>
</div>

{% endblock %}
