
{% extends "layout.html" %}

{% block pageTitle %}
  Find a supplier - facilities management: security services - GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Facilities management: security services",
    href: "/service/facilities-management/security-services"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Facilities management: security services</span>
      Find a supplier
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <form action="">
    <div class="form-group">

     {{ govukCheckboxes({
        idPrefix: "supplier-location",
        name: "supplier-location",
        fieldset: {
          legend: {
            text: "Where are the facilities based?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "scotland",
            text: "Scotland"
          },
          {
            value: "northern-ireland",
            text: "Northern Ireland"
          },
          {
            value: "wales",
            text: "Wales"
          },
          {
            value: "north-east",
            text: "North East"
          },
          {
            value: "north-west",
            text: "North West"
          },
          {
            value: "yorkshire-humber",
            text: "Yorkshire and the Humber"
          },
          {
            value: "east-midlands",
            text: "East Midlands"
          },
          {
            value: "west-midlands",
            text: "West Midlands"
          },
          {
            value: "south-east",
            text: "South East"
          },
          {
            value: "south-west",
            text: "South West"
          },
          {
            value: "london",
            text: "London"
          },
          {
            value: "outside-uk",
            text: "Outside the UK"
          }
          ]
      }) }}

    </div>
    <div class="form-group">

      {{ govukRadios({
        idPrefix: "how",
        name: "how",
        fieldset: {
          legend: {
            text: "How do you want to find suppliers?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Get quotes from different suppliers",
            text: "Get quotes from different suppliers"
          },
          {
            value: "Award the contract directly to a supplier",
            text: "Award the contract directly to a supplier"
          }
        ]
      }) }}

      <p>
        Awarding the contract directly to a supplier might mean you don’t get the best value. Check with your organisation’s head or procurement or legal adviser first.
      </p>

    </div>

    <div class="form-group">
      <button class="govuk-button">
        Continue
      </button>

    </div>
  </form>

  </div>

</div>

{% endblock %}
