
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Home",
    href: "/"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ category.name }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">
      {% for service in category.children %}
      <li>
        <a href="/service/{{ service.name|toSlug }}/">
          {{ service.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="govuk-!-margin-top-8">
      <a href="#">
        Can't find what you're looking for?
      </a>
    </p>
  </div>
</div>

{% endblock %}
