
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Home",
    href: "/"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Consultancy and managing change
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">
      <li>
        <a href="/audit-consultancy">Audit consultancy</a>
      </li>
      <li>
        <a href="#">Business consultancy</a>
      </li>
      <li>
        <a href="#">Complex and transformational consultancy</a>
      </li>
      <li>
        <a href="#">Contact centre consultancy</a>
      </li>
      <li>
        <a href="#">Education consultancy</a>
      </li>
      <li>
        <a href="#">Infrastructure consultancy</a>
      </li>
      <li>
        <a href="#">ICT and digital consultancy</a>
      </li>
      <li>
        <a href="#">Financial consultancy</a>
      </li>
      <li>
        <a href="#">Human resources (HR) consultancy</a>
      </li>
      <li>
        <a href="#">Health and community consultancy</a>
      </li>
      <li>
        <a href="#">Procurement, supply chain and commercial consultancy</a>
      </li>
      <li>
        <a href="#">Strategic consultancy</a>
      </li>
    </ul>
    <p class="govuk-!-margin-top-8">
      <a href="#">
        Can't find what you're looking for?
      </a>
    </p>
  </div>
</div>

{% endblock %}
