
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Public Procurement
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Buy products and services for the public sector
    </h1>
    <form action="#">
      <div class="govuk-form-group govuk-!-margin-bottom-3">
        {{ govukInput({
          label: {
            text: "Search",
            classes: "govuk-!-font-weight-bold"
          },
          id: "search",
          name: "search",
          hint: {
            text: "Find products, services, suppliers or frameworks."
          }
        }) }}
      </div>
      <div class="govuk-form-group">
        {{ govukButton({
          text: "Search"
        }) }}
      </div>
    </form>
  </div>
</div>

<div class="govuk-grid-row">

  {% for category in taxonomy.children %}

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-s">
        {{ category.name }}
      </h2>
      <ul class="govuk-list">

        {% for subcategory in category.children %}

          <li>
            <a href="{{ subcategory.name|toSlug }}">
              {{ subcategory.name }}
            </a>
          </li>

        {% endfor %}

      </ul>
    </div>

  {% endfor %}

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">Help and guides</h2>
    <ul class="govuk-list">
      <li>
        <a href="#">How to buy products and services for the public sector</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
