
{% extends "layout.html" %}

{% block pageTitle %}
  Search: {{ searchTerm }} - GOV.UK Public Procurement
{% endblock %}

{% block headerSearch %}{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Home",
    href: "/"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/search">
      <div class="govuk-form-group govuk-!-margin-bottom-3">
        {{ govukInput({
          label: {
            text: "Search",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          id: "search",
          name: "q",
          value: searchTerm,
          hint: {
            text: "Find products, services, suppliers or frameworks."
          }
        }) }}
      </div>
      <div class="govuk-form-group">
        {{ govukButton({
          text: "Search"
        }) }}
      </div>
    </form>

    <ul class="govuk-list">
      {% for result in searchResults %}
      <li>
        <a href="{{ result.href }}">
          {{ result.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="govuk-!-margin-top-8">
      <a href="#">
        Can't find what you're looking for?
      </a>
    </p>
  </div>
</div>

{% endblock %}
