
{% extends "layout.html" %}

{% block pageTitle %}
  Search: {{ searchTerm }} - GOV.UK Public Procurement
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Home",
    href: "/"
  })}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Search
    </h1>

    <form action="">
      {{
        govukInput({
          'name':'q',
          'value': searchTerm
        })
      }}
    </form>

    <ul class="govuk-list">
      {% for result in searchResults %}
      <li>
        <a href="{{ result.href }}/">
          {{ result.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="govuk-!-margin-top-8">
      <a href="#">
        Can't find what you're looking for?
      </a>
    </p>
  </div>
</div>

{% endblock %}
